p{	font-size: 20px; }


h1{	text-align: center; }

body{
	color:	black;
	text-align: center;
	background-color: lightgrey;
}


div{ text-align: center;
	margin-bottom: 30px; }

#imgS{

	max-width: 30%

}


#img2{


	max-width: 30%;
	float: left;
}

#img3{


	float: right;
	max-width: 30%;

}

img{

	max-width: 40%;

}